#scroll-offers{
    background-color: #FB6900;
    padding:10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#marquee-scroll{
    color:white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

ul li a,a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

ul li a:hover {
  color: #FB6900;
}
p a{
  margin-left: 10px;
}

i{
  margin-left: 20px;
}

#heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-bottom: 2px solid #eee;
}

 #signup-form{
    padding: 30px;
    background: #fff; 
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin-left: 500px;
    width: 300px;
}
 #signup-btn{
    margin-top: 10px;
    margin-left: 60px;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    color: white;
    background-color: #0f6a5a;
    border: #FF4422;
}

.signup-input{
    height:35px;
    width:250px;
    margin-top: 10px;
}
.signup-input::placeholder{
     text-align: center;
}